@font-face {
    font-family: 'Sora';
    src: url('../font/Sora-Regular.woff2') format('woff2'),
        url('../font/Sora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// colours
$rose: #B8336A;
$blue: #7D8CC4;
$pink: #C490D1;
$white: #F0F0F0;


h1, h2, h3{
	font-family: 'Sora';
	color: #B8336A;
}

.header{
	position: relative;
	width: 100%;
	padding: 1rem 3rem;
	border-bottom: 1px solid #000;
	margin-bottom: 2rem;
}

h1{
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}

h2{
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 1rem;
}

p, li, label, td{
	font-family: 'Sora';
	font-size: 1rem;
}

.main{
	position: relative;
	width: 100%;
}

.info, .inputs, .buttons, .filters, .results{
	position: relative;
	width: 100%;
	padding: 1rem 3rem;
}

ol{
	list-style: numbers;
	padding-left: 1rem;
}

li{
	padding: .5rem 0;
}

.input-group{
	padding: 1rem;
}

.buttons{
	display: flex;	
	gap: 1rem;
	button{
		box-shadow: nonw;
		border: none;
		border-radius: 1em;
		color: $white;
		background: $blue;
		font-size: 1.5rem;
		padding: .5em 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all .5s;
		&:hover{
			background: $pink;
			color: $white;
		}
	}
}

.filters{
	display: none;	
	gap: 1rem;
	padding: 1rem 0;
	&.is-active{
		display: flex;
	}
	button{
		box-shadow: nonw;
		border: none;
		border-radius: 1em;
		color: $white;
		background: $blue;
		font-size: 1.5rem;
		padding: .5em 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all .5s;
		opacity: .5;
		&:hover{
			background: $pink;
			color: $white;
		}
		&.is-active{
			opacity: 1;
		}
	}
}

[data-filter]{
	&.is-hidden{
		display: none;
	}
}

[data-toggle]{
	>td{
		width: 100%;
	}
	table, tbody, tr{
		width: 100%;
	}
}
.results{
	width: 100%;
	> tr{
		background: $pink;
	}
	tr{
		border: 2px solid $white;
	}
	th{
		border-bottom: 1px solid $white;
	}
	th,td{
		color: $white;
		padding-right: 1rem;
	}
	> tr > td{
		padding-left: 1rem;
	}
	.fail{
		background: red;
	}
	.pass{
		background: green;
	}
	.unsubmitted{
		background: orange;
	}
	.toggle{
		display: flex;
		align-tems: center;
		justify-content: center;
		padding: 1em;
		span{
			width: 2em;
			height: 2em;
			cursor: pointer;
			background: #FFF;
			border-radius: 50%;
			position: relative;
			svg{
				object-fit: contain;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}


.contract{
	display: none;
}
.expand{
	display: block;
}
.accordion{
	max-height: 0px;
	transition: all .5s;
	overflow: hidden;
	display: block;
	border: none !important;
}

.is-open{
	.contract{
		display: block;
	}
	.expand{
		display: none;
	}
	.accordion{
		max-height: 900px;
	}
}

.first-row{
	font-weight: bold;
}

.is-inactive{
	opacity: .5;
	pointer-events: none;
}


.match{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3rem;
	background: rgba(0,0,0,0.5);
	&.is-visible{
		display: block;
	}
}

.match__inner{
	width: 100%;
	height: 100%;
	position: relative;
	background: #FFF;
	border-radius: 1rem;
	padding: 3rem;
}

.match__close{
	position: absolute;
	top: 3rem;
	right: 3rem;
	width: 2rem;
	height: 2rem;
	pointer: cursor;
	svg{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}
}

.progress-bar-container{
	width: 100%;
	height: 1rem;
	position: absolute;
	// top: 0;
	left: 0;
}

.progress-bar{
	height: 100%;
	width: 0%;
	position: absolute;
	left: 0;
	right: auto;
	top: 0;
	background: #b8336a;
	transition: all 1s;
	&.is-populating{
		background: #7d8cc4;
	}
	&.is-finished{
		background: green;
		left: auto;
		right: 0;
		width: 0% !important;
	}
}